@font-face {
  font-family: "poppins";
  src: url("./../fonts/Poppins-Regular.ttf");
}

:root {
  --pink: #e84393;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  transition: 0.2s linear;
  outline: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section,
footer {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  padding: 0.9rem 3.5rem;
  color: #fff;
  background-color: #333;
  border-radius: 3.5rem;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 1rem;
}

.btn:hover {
  background-color: var(--pink);
}

.heading {
  font-size: 4rem;
  text-align: center;
  color: #333;
  margin: 2rem 0;
  padding: 1rem;
  background-color: rgba(255, 51, 153, 0.05);
}

.heading span {
  color: var(--pink);
}

/* #################### HEADER STYLE START ###################### */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .logo span {
  color: var(--pink);
}

header .navBar a {
  font-size: 2rem;
  color: #666;
  padding: 1.5rem;
}

header .navBar a:hover {
  color: var(--pink);
}

header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--pink);
}

/* #################### HEADER STYLE END ###################### */

/* #################### HOME STYLE START ###################### */
#home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url("./../images/home-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#home .content {
  max-width: 50rem;
}

#home .content h3 {
  color: #333;
  font-size: 6rem;
}

#home .content span {
  color: var(--pink);
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 1rem 0;
}

#home .content p {
  color: #999;
  font-size: 2rem;
  line-height: 1.5;
  padding: 1rem 0;
}
/* #################### HOME STYLE END ###################### */

/* #################### ABOUT STYLE START ###################### */
#about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 2rem;
  /* gap: 2rem; */
}

#about .row .video-container {
  position: relative;
  flex: 1 1 40rem;
}

#about .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

#about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  mix-blend-mode: screen;
}

#about .row .content {
  flex: 1 1 40rem;
  padding: 1rem;
}

#about .row .content h3 {
  font-size: 3rem;
  color: #333;
}

#about .row .content p {
  font-size: 1.7rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

/* #################### ABOUT STYLE END ###################### */

/* #################### ICON STYLES BEGIN ##################### */
#icon-container {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 1.5rem;
}

#icon-container .icons {
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

#icon-container .icons img {
  height: 5rem;
  margin-right: 2rem;
}

#icon-container .icons .info h3 {
  color: #333;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

#icon-container .icons .info p {
  color: #555;
  font-size: 1.3rem;
}
/* #################### ICON STYLES END ##################### */

/* #################### PRODUCTS STYLES START############### */
#products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#products .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
}

#products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: var(--pink);
  background-color: rgba(255, 51, 153, 0.05);
  z-index: 1;
}

#products .box-container .box .image {
  position: relative;
  padding-top: 2rem;
  overflow: hidden;
  text-align: center;
}

#products .box-container .box .image img {
  height: 25rem;
}

#products .box-container .box:hover .image img {
  transform: scale(1.1);
}

#products .box-container .box .image .icons {
  position: absolute;
  left: 0;
  bottom: -7rem;
  right: 0;
  display: flex;
}

#products .box-container .box:hover .image .icons {
  bottom: 0;
}

#products .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background-color: var(--pink);
  color: #fff;
}

#products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid #fff;
  border-right: 0.1rem solid #fff;
  width: 100%;
}

#products .box-container .box .image .icons a:hover {
  background-color: #333;
}

#products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

#products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

#products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
}

#products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
  margin-left: 1rem;
}
/* #################### PRODUCTS STYLES END############### */

/* #################### REVIEW STYLES END############### */
#review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#review .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

#review .box-container .box .stars .fa-star {
  font-size: 2rem;
  color: var(--pink);
}

#review .box-container .box p {
  font-size: 1.5rem;
  color: #999;
  line-height: 1.5;
  padding-top: 2rem;
}

#review .box-container .box .user {
  display: flex;
  padding-top: 2rem;
  align-items: center;
}

#review .box-container .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

#review .box-container .box .user h3 {
  font-size: 2rem;
  color: #333;
}

#review .box-container .box .user span {
  font-size: 1.5rem;
  color: #999;
}

#review .box-container .box .fa-quote-right {
  font-size: 6rem;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  color: #eee;
}
/* #################### REVIEW STYLES END############### */

/* #################### CONTACT STYLES END############### */
#contact .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  align-items: center;
}

#contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #fff;
}

#contact .row form input,
textarea {
  font-size: 1.7rem;
  padding: 1rem;
  color: #333;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  width: 100%;
}

#contact .row form input:focus,
textarea:focus {
  border-color: var(--pink);
}

#contact .row form textarea {
  height: 15rem;
  resize: none;
}

#contact .row form button {
  border: none;
}

#contact .row .image {
  flex: 1 1 40rem;
}

#contact .row .image img {
  width: 100%;
}

/* #################### CONTACT STYLES END############### */

/* #################### FOOTER STYLES END############### */
footer .box-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

footer .box-container .box {
  flex: 1 1 25rem;
}

footer .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

footer .box-container .box a {
  display: block;
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

footer .box-container .box a:hover {
  color: var(--pink);
  text-decoration: underline;
}

footer .box-container .box a img {
  margin-top: 1rem;
}
/* #################### FOOTER STYLES END############### */

/* ############# MEDIA QUERIES ################### */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  header .navBar {
    display: none;
  }

  #icon-container .icons .info h3 {
    font-size: 2rem;
  }

  #icon-container .icons .info p {
    font-size: 1.7rem;
  }

  footer {
    text-align: center;
  }
}
