@font-face {
  font-family: "poppins";
  src: url("./../fonts/Poppins-Regular.ttf");
}

:root {
  --pink: #e84393;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  transition: 0.2s linear;
  outline: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  padding: 0.9rem 3.5rem;
  color: #fff;
  background-color: #333;
  border-radius: 3.5rem;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 1rem;
}

.btn:hover {
  background-color: var(--pink);
}

.heading {
  font-size: 4rem;
  text-align: center;
  color: #333;
  margin: 2rem 0;
  padding: 1rem;
  background-color: rgba(255, 51, 153, 0.05);
}

.heading span {
  color: var(--pink);
}

/* #################### HEADER STYLE START ###################### */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

header .logo {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .logo span {
  color: var(--pink);
}

header .navBar a {
  font-size: 2rem;
  color: #666;
  padding: 1.5rem;
}

header .navBar a:hover {
  color: var(--pink);
}

header .icons a {
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--pink);
}

#toggle {
  display: none;
}

.fa-bars {
  font-size: 3rem;
  cursor: pointer;
  color: #333;
  display: none;
}
/* #################### HEADER STYLE END ###################### */

/* #################### HOME STYLE START ###################### */
#home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url("./../images/home-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#home .content {
  max-width: 50rem;
}

#home .content h3 {
  color: #333;
  font-size: 6rem;
}

#home .content span {
  color: var(--pink);
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 1rem 0;
}

#home .content p {
  color: #999;
  font-size: 2rem;
  line-height: 1.5;
  padding: 1rem 0;
}
/* #################### HOME STYLE END ###################### */

/* #################### ABOUT STYLE START ###################### */
#about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 2rem;
  /* gap: 2rem; */
}

#about .row .video-container {
  position: relative;
  flex: 1 1 40rem;
}

#about .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

#about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  mix-blend-mode: screen;
}

#about .row .content {
  flex: 1 1 40rem;
  padding: 1rem;
}

#about .row .content h3 {
  font-size: 3rem;
  color: #333;
}

#about .row .content p {
  font-size: 1.7rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

/* #################### ABOUT STYLE END ###################### */

/* ############# MEDIA QUERIES ################### */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .fa-bars {
    display: block;
  }

  header .navBar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
  }

  .header #toggle:checked ~ .navBar {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
    background-color: #333;
  }

  header .navBar a {
    display: block;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}
